*.class
Aprendices
/18-UI Buscaminas/nbproject/private/
/18-UI Buscaminas/build/
/18_2.UI Buscaminas/nbproject/private/
/18_2.UI Buscaminas/build/
/20-Registro Usuarios/nbproject/private/
/20-Registro Usuarios/build/
/20-Registro_Usuarios/nbproject/private/
